.tick-l::after {
  content: "";
  border-left: 12px solid transparent;

  border-top: 16px solid;
  @apply h-3 w-3 -left-2 top-0 absolute;
}

.tick-r::after {
  content: "";
  border-right: 12px solid transparent;

  border-top: 16px solid;
  @apply h-3 w-3 -right-2 top-0 absolute;
}

.tick-l + .tick-r {
  margin-top: 15px;
}

.tick-r + .tick-l {
  margin-top: 15px;
}
