.tick-l::after {
  content: "";
  border-left: 12px solid transparent;

  border-top: 16px solid;
  @apply h-3 w-3 -left-2 top-0 absolute;
}

.tick-r::after {
  content: "";
  border-right: 12px solid transparent;

  border-top: 16px solid;
  @apply h-3 w-3 -right-2 top-0 absolute;
}

.tick-l + .tick-r {
  margin-top: 15px;
}

.tick-r + .tick-l {
  margin-top: 15px;
}

.load {
  display: flex;
}

.load .line-1 {
  animation: loading 0.8s 0s linear infinite;
}
.load .line-2 {
  animation: loading 0.8s 0.2s linear infinite;
}
.load .line-3 {
  animation: loading 0.8s 0.4s linear infinite;
}

@keyframes loading {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 3px);
  }
  0% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, -3px);
  }
  100% {
    transform: translate(0, 0);
  }
}
